.App{
  margin-left: 20px;
}

.App .customer-data label{
  display: inline-block;
  width: 100px;
}

.App .customer-data label, .App .customer-data strong{
  display: inline-block;
  width: 100px;
}

.App .customers-actions {
  margin-top: 10px;
}

.App .customers-actions button{
  margin-right: 10px;
}